{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <p>
            Сортировать по: 
                <a href="/catalog?sort=name">названию</a> 
                <a href="/catalog?sort=min_price">начиная с дешевых</a>
                <a href="/catalog?sort=max_price">начиная с дорогих</a>
            </p>
        </div>
        <div class="content">
            <table class="table">
                <tr>
                    
            {% for id, phones_dict in phones.items %}
            <td style="width: 3%;"><h3>{{ phones_dict.name }}</h3>
            <p>Стоимость {{ phones_dict.price }}</p>
            <img src="{{ phones_dict.image }}" width="200" height="350">
            </td>
            {% endfor %}
                
            </tr>
            </table>
        </div>
    </div>
{% endblock %}