{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{{ link_catalog }}">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <p>
            Сортировать по: 
                <a href="{{ link_catalog }}?sort=name">названию</a> 
                <a href="{{ link_catalog }}?sort=min_price">начиная с дешевых</a>
                <a href="{{ link_catalog }}?sort=max_price">начиная с дорогих</a>
            </p>
        </div>
        <div class="content">
            <table class="table">
                <tr>                   
            {% for id, phones_dict in phones.items %}
            <td style="width: 5%;">
            <h3><a href="{{ link_catalog }}/{{ phones_dict.slug}}">{{ phones_dict.name }}</a></h3>
            <p><b>Стоимость {{ phones_dict.price }}</b></p>
            <img src="{{ phones_dict.image }}" width="200" height="350">
            </td>        
            {% endfor %}                
        </tr>
            </table>
        </div>
    </div>
{% endblock %}