.form {
    display: block;
    background-color: #fafafa;
    /* background-color: #ffefef; */
    width: 800px;
    margin: 0 auto;
    padding: 50px 50px;
}

.form-hint {
    display: block;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 12px;
}

.field {
    box-sizing: border-box;
    width: 640px;
    border: 1px solid #222222;
    padding: 15px 20px;
    background-color: #ffffff;
}
/* фокус ввода */
.field:focus {
    outline-color: red;
    outline-style: groove;
    outline-offset: 5px;
    border:none;
}

/* добавляем отступ начиная со второго элемента */
.form-row:nth-child(n+2) {
    margin-top: 35px;
}

.menu {
    color: red;
}

.menu__link {
    color: inherit;
}

.button {
    border: none;
    padding: 15px 55px;
    color: #ffffff;
    background-color: #e74c3c;
    font-family: inherit;
    font-size: 16px;
}
/* поведение ссылки при наведение, посещенная, активная */
.link, .link:hover, .link:visited, .link:active {
    color: rebeccapurple;
}
/* поведения после нажатия на ссылку но кнопке еще не отпущена */
.link:active {
    color: #000;
}
/* поедение ссылки при наведении. */
.link:hover {
    color: #000;
}

.content {
    /* box-sizing: content-box;
    height: 200px;
    max-height: 150px;
    padding: 50px;
    border: 5px solid #000000; */
    box-sizing: border-box;
    min-width: 200px;
    width: 100px;
    padding: 10px;
  }

  /* стилизация чекбокса персональных данных */
  .checkbox-group {
    font-size: 15px;
  }

  .checkbox-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background-image: url("https://netology-code.github.io/resourses/pics/checkbox2-unchecked.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }

  .checkbox:checked + .checkbox-text::before {
    background-image: url("https://netology-code.github.io/resourses/pics/checkbox2-checked.svg");
  }

  .checkbox {
    display: none;
  }